*{
    margin: 0;
    padding: 0;
}
/*Header Style*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 10px 50px;
    font-family: Arial, Helvetica, sans-serif;
}
header .logo_search img{
    width: 103px;
}
header .logo_search{
    display: flex;
    align-items: center;
}
#search{
    width: 500px;
    height: 50px;
    margin-left: 20px;
    border: 1px solid #94A3B8 ;
    border-radius: 8px;
    color: #94A3B8;
    padding-left: 10px;
}
hr{
    margin: 0 50px; 
    border-top: 1px solid #94A3B8;
}
header .navigation_info ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
header .navigation_info ul img{
    width: 60px;
}
header .navigation_info ul .store{
    width: 40px;
}
header .navigation_info ul li{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    color: #334155;
}
header .navigation_info ul li a{
    color: #334155;
    text-decoration: none;
}
.Border_Separe{
    border-right: 2px solid #334155;
    padding-right: 20px;
}
/*Main style*/
#Home_vue{
    margin: 20px 50px;
    display: grid;
    grid-template-columns: 30% 70%;
}
#Home_vue nav img{
    width: 25px;
    color: #334155;
    margin-right:20px;
}
#Home_vue nav ul {
    border: 1px solid #94A3B8;
    border-radius: 10px;
}
#Home_vue nav ul li{
    color: #707070;
    list-style: none;
    padding: 21px 20px;
    border-bottom:  1px solid #94A3B8;
    cursor: pointer;
}
#Home_vue nav ul li a{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 5px ;
    color: #94A3B8;
    text-decoration: none;
}
#Home_vue .image_ads{
    margin-left: 50px;
}
#Home_vue .image_ads img{
    width: 100%;
    border-radius: 10px;
}
/*best remise*/
.ligneSup{
    width: 75px;
    height: 2px;
    background-color: red;
    position: relative;
    left: 90px;
    bottom: 19px;
    rotate: -15deg;
}
#Best_Remise .description{
    background-color: #F1F5F9;
    border-radius: 8px;
    color: #475569;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px 10px;
}
#Best_Remise .description .add_cart{
    width: 40px;
}
#Best_Remise .description span{
    font-weight: bold;
    font-size: 30px;
    color: #334155;
}
#Best_Remise .description .s{
    color: #64748B;
    font-size: 25px;
    padding: 10px 0;
}
#Best_Remise .description p{
    color: #475569;
    font-family: Arial, Helvetica, sans-serif;
}
#Best_Remise .description img{
    width: 30%;
}
#Best_Remise .produit img{
    width: 100%;
    position: relative;
    top: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#Best_Remise{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 10px 50px;
    place-items: center;
}
#Best_Remise .produits{
    width: 90%;
    margin-bottom: 50px;
}
h2{
    color: #334155;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 50px 0 50px;
    font-size: 40px;
}
#Best_Remise .star{
    width: 25%;
    background-color: #FACC15;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    border-radius: 30px;
}
#Best_Remise .star span{
    color: white;
    font-size: 20px;
}
#Best_Remise .info_star{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
#Best_Remise .info_star .sold{
    border-left: 2px solid #94A3B8;
    padding-left: 20px;
    color: #94A3B8;
    font-size: 20px;
}
#nombre_page{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-bottom: 30px;
}
#nombre_page .page{
    width: 30px;
    height: 30px;
    background: #E2E8F0;
    border-radius: 50%;  
}
/*foooter*/
footer{
    background: #334155;
    height: 150px;
}
footer nav ul{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    list-style: none;
}
footer nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
footer .cpy{
    text-align: center;
    width: 100%;
    color: #94A3B8;
    position: relative;
    bottom: 20px;
}
/* product page */
#product_page{
    display: grid;
    grid-template-columns: 15% 85%;
    margin: 20px 50px;
}
#product_page h3{
    font-size: 25px;
    color: #334155;
}
#product_page .filtr nav ul li{
    list-style: none;
    font-size: 20px;
    margin: 15px 0;
    color: #334155;
}
#product_page .filtr nav{
    margin-left: 20px;
}
#product_page .range{
    width: 200px;
}
#product_page .filter_check {
    position: relative;
    display: block;
    padding-left: 35px; 
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
}
#product_page .filter_check input {
    opacity: 0;
    position: absolute;
    right: 10px;
}
  
#product_page .virify {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: green 1px solid;
}
  
#product_page .filter_check input:checked + .virify {
    background-image: url('images/verify.png');
    background-size: cover;
}
#product_bar{
    font-family: Arial, Helvetica, sans-serif;

}
#product_bar .search_ifo{
    display: flex;
    justify-content: space-between;
}
#product_bar .search_ifo h3 span{
    color: rgb(250, 185, 64)   ;
}
#product_bar .search_ifo h3{
    color: #334155 ;
}
#product_bar .search_ifo .select_sort #sort{
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #64748B;
    color: #64748B;
    font-size: 16px;
    padding: 5px;
}
#product_bar .search_ifo .select_sort label{
    font-size: 25px;
    color: #64748B;
}
#product_bar .select_filter{
    display: flex;
    gap: 20px;
    border-radius: 20px;
    padding:7px 20px;
    border:1px solid #64748B;
    width: 9%;
    color: #64748B;
    align-items: center;
    font-weight: bold ;
}
#product_bar .selected_filter{
    display: flex;
    gap: 10px;
}
#product_bar .select_filter .x{
    background: lightgray;
    padding: 5px;
    width: 15px;
    height: 15px;
    text-align: center;
    color: white;
    border-radius: 50%;
}
#product_bar .Clear{
    color: rgb(250, 185, 64)  ;
    border: none;
    font-weight: bold;
    font-size: 20px;
    width: 20%;
}
/* detail page */
#detail_poduit{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 90%;
    margin: 10px 50px;
    border: 1px solid black;
}
#detail_poduit .detail_image .image img{
    border-radius: 10px;
}
#detail_poduit .detail_image .all_image{
    display: flex;
}
#detail_poduit .detail_image .all_image img{
    width: 80%;
}

/* #detail_poduit .all_image{
    display: flex;
    justify-content: space-between;
    width: 20px;
}
#detail_poduit .all_image{
    display: flex;
    justify-content: space-between;
    width: 20px;
}
#detail_poduit .imag {} */